.header {
  width: 100%;
  height: 44px;
  background-color: #108EE9; 
  text-align: center;
  line-height: 44px;
  font-size: 18px;
  color: #FFFFFF;
}
.header .header-user {
  display: inline-block;
  content: '';
  float: left;
  background: url('../../assets/user.png');
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
  margin-top: 10px;
  margin-left: 12px; 
}
.header .header-add {
  display: inline-block;
  content: '';
  float: right;
  background: url('../../assets/add.png');
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
  margin-top: 10px;
  margin-right: 12px; 
}
.home-saerch {
  width: 82.4%;
  height: 32px;
  border: 1px solid #108EE9;
  margin: 12px auto;
  background: rgba(245,245,249);
  border-radius: 16px; 
}
.home-saerch .am-search-cancel {
  display: none;
}
.home-saerch .am-search-input {
  background: rgba(245,245,249) !important;
}
.home-saerch .am-search-input input[type="search"] {
  font-size: 15px;
  color: #9B9B9B;
}
.home-content p {
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: #9B9B9B;
  margin-top: 20px;
}
.home-bg {
  position: absolute;
  background: url('../../assets/bg@2x.png');
  background-size: 100% 100%;
  background-repeat: no-repeat; 
  width: 154px;
  height: 101px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.s-item {
  width: 100%;
  height: 40px;
  padding-left: 16px;
  font-size: 14px;
  color: #3D3E45;
  line-height: 40px;
  background-color: #FFF;
}
.s-item_g {
  width: 100%;
  height: 40px;
  padding-left: 16px;
  font-size: 14px;
  color: #3D3E45;
  line-height: 40px;
  background-color: #F5F5F5;
}
.singleDetail_title {
  width: 100%;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 18px;
  color: #FFFFFF;
  font-size: 18px;
  background: #108EE9;
}
/* .singleDetail_title span{
  background: url('../../assets/')
} */
.singleDetail_sub {
  width: 65.75%;
  height: 30px;
  margin: 17px auto 17px auto;
  font-size: 14px;
  color: #108EE9;
  text-align: center;
  line-height: 30px;
  border-radius: 15px;
  background: #cecece;
}
.wanted-title, .hot-title{
  height: 30px;
  line-height: 30px;
  /* background: #EBEBEB; */
  margin: 0 auto;
  font-size: 16px;
  color: white;
  background: #108EE9;
}
.wanted-title_up {
  height: 30px;
  line-height: 30px;
  background: #EBEBEB;
  margin: 0 auto;
  font-size: 16px;
  color: #108EE9;;
}
.wanted-item_t span:first-child {
  width: 37%;
}
.wanted-item_t span{
  display: inline-block;
  width: 21%;
  font-size: 14px;
  color: #999999;
}
.hot-item_t span {
  display: inline-block;
  width: 33.333%;
  font-size: 14px;
  color: #999999;
}
.wanted-item span:first-child {
  width: 37%;
}
.wanted-item span {
  display: inline-block;
  width: 21%;
  font-size: 14px;
  color: #151515;
}
.single-wanted {
  width: 94.52%;
  margin: 15px auto;
}
.st1::before{
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../../assets/maoyan.png');
  background-size: 100% 100%;
  margin-right: 5px;
}
.st2::before{
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../../assets/taopiao.png');
  background-size: 100% 100%;
  margin-right: 5px;
}
.st3::before{
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../../assets/weibo.png');
  background-size: 100% 100%;
  margin-right: 5px;
}
.st4::before{
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../../assets/weixin.png');
  background-size: 100% 100%;
  margin-right: 5px;
}
.ht1::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../../assets/baidu.png');
  background-size: 100% 100%;
  margin-right: 5px;
}
.ht3::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../../assets/yuedu.png');
  background-size: 100% 100%;
  margin-right: 5px;
}
.ht4::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../../assets/taolun.png');
  background-size: 100% 100%;
  margin-right: 5px;
}
.ht6::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../../assets/douban.png');
  background-size: 100% 100%;
  margin-right: 5px;
}
.wt1::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../../assets/total.png');
  background-size: 100% 100%;
  margin-right: 5px;
}
.wt2::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../../assets/tengxun.png');
  background-size: 100% 100%;
  margin-right: 5px;
}
.wt3::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../../assets/youku.png');
  background-size: 100% 100%;
  margin-right: 5px;
}
.wt4::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../../assets/iqiyi.png');
  background-size: 100% 100%;
  margin-right: 5px;
}
.wt5::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../../assets/miaopai.png');
  background-size: 100% 100%;
  margin-right: 5px;
}
.itime::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../../assets/shiguang.png');
  background-size: 100% 100%;
  margin-right: 5px;
}
.wanted-item {
  margin-top: 10px;
}
.down-pic{
  float: right;
  display: inline-block;
  width: 14px;
  height: 10px;
  background: url('../../assets/downwhite.png');
  background-size: 100% 100%;
  margin-top: 10px;
}
.up-pic{
  float: right;
  display: inline-block;
  width: 14px;
  height: 10px;
  background: url('../../assets/upblue.png');
  background-size: 100% 100%;
  margin-top: 10px;
}
.user-sex_div span{
  display: inline-block;
  height: 8px;
}
.sex-my-male {
  position: relative;
  border-radius: 4px 0 0 4px;
  background: #108EE9;
  width: 100px;
}
.sex-my-female {
  position: relative;
  border-radius: 0 4px 4px 0;
  background: #F03D38;
  width: 80px;
}
.m_tip {
  position: absolute;
  top: -20px;
  left: 20px;
}
.f_tip {
  position: absolute;
  top: -20px;
  right: 30px;
}
.user-sex p {
  font-size: 14px;
  color: #108EE9;
  margin-left: 15px;
}
.checkHistory {
  float: right;
  width: 66px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  color: white;
  background: #108EE9;
  margin-top: 3px;
  margin-right: 20px
}
.list-content_img {
  float: left;
  width: 88px;
  height: 120px;
  text-align: center;
  background: #108EE9;
  margin-left: 8px;
  margin-top: 15px;
}
.list-left_title{
  margin-top: 30px;
  font-size: 15px;
  color: #FFFFFF;
}
.list-content_right {
  float: right;
  width: 70%
}
.list-content_right::after {
  content: '';
  display: block;
  clear: both;
}
.list-left-desc {
  font-size: 10px;
  color: #FFFFFF;
  opacity: 0.66;
  margin-top: 6px;
}
.split-line {
  border: 1px solid #E3E3E3;
  margin-top: 12px;
  margin-bottom: 12px;
}
.compare-header {
  position: relative;
  width: 100%;
  height: 44px;
  line-height: 44px;
  background: #108EE9;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
}
.compare-header span:first-child {
  position: absolute;
  left: 15px;
}
.compare-edit {
  width: 20px;
  height: 20px;
  background: url('../../assets/edit.png');
  background-size: 100% 100%;
  float: right;
  margin-top: 11px;
  margin-right: 10px
}
.compare-add {
  width: 20px;
  height: 20px;
  background: url('../../assets/add.png');
  background-size: 100% 100%;
  float: right;
  margin-top: 11px;
  margin-right: 10px
}
.del-group {
  display: inline-block;
  width: 28.8%;
  height: 46px;
  text-align: center;
  line-height: 46px;
  background: #F03D38;
  font-size: 16px;
  color: white;
}
.save-group {
  display: inline-block;
  width: 71.2%;
  height: 46px;
  text-align: center;
  line-height: 46px;
  background: #108EE9;;
  font-size: 16px;
  color: white;
}
.compare-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.home-group {
  position: relative;
}
.del-groups {
  position: absolute;
  width: 218px;
  height: 148px;
  text-align: center;
  font-size: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  border-radius: 4px;
}
.del-groups_desc {
  margin-top: 38px;
  margin-bottom: 50px;
}
.del-groups_btns {
  width: 100%;
}
.del-groups_btns span{
  display: inline-block;
  width: 50%;
  height: 44px;
  text-align: center;
  line-height: 44px;
}
.del-groups_btns span:first-child{
  color: #F03D38;
  background: #E3E3E3;
}
.del-groups_btns span:last-child{
  color: white;
  background: #F03D38;
}
.kb-item_t span{
  display: inline-block;
  width: 33%;
  font-size: 14px;
  color: #999999;
}
.user-sex_div {
  margin-bottom: 20px
}
.his-header {
  position: relative;
  width: 100%;
  height: 44px;
  line-height: 44px;
  background: #108EE9;
  text-align: center;
  font-size: 18px;
  color: #FFFFFF;
}
.his-header span:first-child {
  position: absolute;
  left: 15px;
}
.his-sub_header span {
  width: 44.8%;
  height: 44px;
  line-height: 44px;
  margin-left: 4.8%;
}
.his-sub_header .active {
  color: #108EE9;
  border-bottom: 1px solid #108EE9;
   /* box-shadow: 0 1px 0 0 #108EE9; */
}
.his-body {
  margin-top: 10px;
}
.his-body div{
  margin-top: 10px;
}
.his-body span {
  display: inline-block;
  width: 29.3%;
  padding-left: 15px;
  font-size: 14px;
  color: #222327;
}
.kb-title {
  width: 100%;
  height: 36px;
  background: #EBEBEB;
  line-height: 36px;
  font-size: 14px;
  color: #2D2E33;
}
.kb-title span:first-child, .kb_item span:first-child {
  width: 50%;
}
.kb-title span, .kb_item span{
  display: inline-block;
  text-align: center;
  width: 25%;
}
.kb_item {
  width: 100%;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  color: #2D2E33;
}
.kb_item span:last-child {
  color: red
}
.user-sex_title {
  margin-bottom: 25px;
  font-size: 15px;
  color: #9B9B9B;
  margin-left: 20px;
}
.split-line {
  border: 1px solid  #E3E3E3;
  width: 94.67%;
  margin: 25px auto 20px auto;
}
.agetitle {
  margin-left: 13px;
  margin-bottom: 24px
}
.agetitle span{
  display: inline-block;
  width: 80px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  font-size: 13px;
  color: #2D2E33;
  border-radius: 16px;
  border: 1px solid #E3E3E3;
  margin-left: 20px;
}
.agetitle .ageActive {
  background: #F03D38;
  color: white
}