.header {
  width: 100%;
  height: 44px;
  background-color: #108EE9; 
  text-align: center;
  line-height: 44px;
  font-size: 18px;
  color: #FFFFFF;
}
.header::before {
  display: inline-block;
  content: '';
  float: left;
  background: url('../../assets/user.png');
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
  margin-top: 10px;
  margin-left: 12px; 
}
.header::after {
  display: inline-block;
  content: '';
  float: right;
  background: url('../../assets/user.png');
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
  margin-top: 10px;
  margin-right: 12px; 
}
.home-saerch {
  width: 82.4%;
  height: 32px;
  border: 1px solid #108EE9;
  margin: 12px auto;
  background: rgba(245,245,249);
  border-radius: 16px; 
}
.home-saerch .am-search-cancel {
  display: none;
}
.home-saerch .am-search-input {
  background: rgba(245,245,249) !important;
}
.home-saerch .am-search-input input[type="search"] {
  font-size: 15px;
  color: #9B9B9B;
}
.home-content p {
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: #9B9B9B;
  margin-top: 20px;
}
.home-bg {
  position: absolute;
  background: url('../../assets/bg@2x.png');
  background-size: 100% 100%;
  background-repeat: no-repeat; 
  width: 154px;
  height: 101px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.s-item {
  width: 100%;
  height: 40px;
  padding-left: 16px;
  font-size: 14px;
  color: #3D3E45;
  line-height: 40px;
  background-color: #FFF;
}
.s-item_g {
  width: 100%;
  height: 40px;
  padding-left: 16px;
  font-size: 14px;
  color: #3D3E45;
  line-height: 40px;
  background-color: #F5F5F5;
}
.singleDetail_title {
  width: 100%;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 18px;
  color: #FFFFFF;
  font-size: 18px;
  background: #108EE9;
}
/* .singleDetail_title span{
  background: url('../../assets/')
} */
.singleDetail_sub {
  width: 65.75%;
  height: 30px;
  margin: 17px auto 17px auto;
  font-size: 14px;
  color: #108EE9;
  text-align: center;
  line-height: 30px;
  border-radius: 15px;
  background: #cecece;
}
.wanted-title, .hot-title{
  height: 30px;
  line-height: 30px;
  /* background: #EBEBEB; */
  margin: 0 auto;
  font-size: 16px;
  color: white;
  background: #108EE9;
}
.wanted-title_up {
  height: 30px;
  line-height: 30px;
  background: #EBEBEB;
  margin: 0 auto;
  font-size: 16px;
  color: #108EE9;;
}
.wanted-item_t span{
  display: inline-block;
  width: 25%;
  font-size: 14px;
  color: #999999;
}
.hot-item_t span {
  display: inline-block;
  width: 33.333%;
  font-size: 14px;
  color: #999999;
}
.wanted-item span {
  display: inline-block;
  width: 25%;
  font-size: 14px;
  color: #151515;
}
.single-wanted {
  width: 94.52%;
  margin: 15px auto;
}
.single-wanted .st1::before{
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../../assets/maoyan.png');
  background-size: 100% 100%;
}
.single-wanted .st2::before{
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../../assets/taopiao.png');
  background-size: 100% 100%;
}
.single-wanted .st3::before{
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../../assets/weibo.png');
  background-size: 100% 100%;
}
.single-wanted .st4::before{
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../../assets/weixin.png');
  background-size: 100% 100%;
}
.wanted-item {
  margin-top: 10px;
}
.down-pic{
  float: right;
  display: inline-block;
  width: 14px;
  height: 10px;
  background: url('../../assets/downwhite.png');
  background-size: 100% 100%;
  margin-top: 10px;
}
.up-pic{
  float: right;
  display: inline-block;
  width: 14px;
  height: 10px;
  background: url('../../assets/upblue.png');
  background-size: 100% 100%;
  margin-top: 10px;
}
.user-sex_div span{
  display: inline-block;
  height: 8px;
}
.sex-my-male {
  border-radius: 4px 0 0 4px;
  background: #108EE9;
  width: 100px;
}
.sex-my-female {
  border-radius: 0 4px 4px 0;
  background: #F03D38;
  width: 80px;
}
.user-sex p {
  font-size: 14px;
  color: #108EE9;
  margin-left: 15px;
}